sha3
redis
requests
#multihash - no longer used and its buggy anyway
py-dateutil
base58
pynacl # - pynacl is needed, but requires sudo - uncomment and run as sudo once.
pyblake2
# For Brians search, maybe not in production
flask
#binascii - built in
#hashlib - built in I think, and fails to install with pip3
#struct - built in
magneturi   # To decode magnet files
bencode     # To decode Bittorrents binary encoding

